<h1>Welcome to Animal Shelter!</h1>

<h3>Potential Adopters:</h3>
<h3>See our available:</h3>
<ul>
  <li><a href="/dogs">Dogs</a></li>
  <li><a href="/cats">Cats</a></li>
  <li><a href="/other_pets">Other Pets</a></li>
</ul>

<h3>Shelter Workers:</h3>
<ul>
<li><a href="/animals">See all animals</a></li>
<li><a href="/potential_pet_owners">See potential pet owners</a></li>
</ul>
