<h2>Other Pets</h2>

<% if @other_pets.any?() %>

<ul>
  <% @other_pets.each() do |pet| %>
    <li><%= pet.name %>: <%= pet.species %>, <%= pet.breed %>, <%= pet.age() %> years</li>
  <% end %>
</ul>

<% else %>

<h3>Sorry, no other pets are available for adoption at this time.</h3>

<% end %>

<h3>Sort List by:</h3>
<form action="/other_pets/by_age" method="post">
  <button type="submit">Age</button>
</form>
<form action="/other_pets/by_breed" method="post">
  <button type="submit">Breed</button>
</form>
<form action="/other_pets/by_gender" method="post">
  <button type="submit">Gender</button>
</form>

<h3>Add a pet:</h3>
<form action="/other_pets/new" method="post">
  <label for="name">Name:</label>
  <input type="text" name="name" id="name"><br>

  <label for="age">Age:</label>
  <input type="text" name="age" id="age"><br>

  <label for="gender">Gender:</label>
  <input type="text" name="gender" id="gender"><br>

  <label for="species">Species:</label>
  <input type="text" name="species" id="species"><br>

  <label for="breed">Breed:</label>
  <input type="text" name="breed" id="breed"><br>

  <label for="date_of_admittance">Today's Date:</label>
  <input type="text" name="date_of_admittance" placeholder="yyyy-mm-dd" id="date_of_admittance"><br>

  <button type="submit">Add Animal</button>
</form>

<a href="/">Home</a>
